body {
    background-color: black;
}

.hidden {
    display: none;
}

.white-border {
    border-color: aliceblue;
}

.square {
    padding: 0%;
    width: 2%;
    height: 2%;
    border-color: aliceblue;
}