body {
    background-color: black;
}

.hidden {
    display: none;
}

.white-border {
    border-color: aliceblue;
}

.square {
    width: 4%;
    height: 4%;
    border-color: aliceblue;
}

.button-width-30 {
    width: 30%;
}